body{
    background-size: cover;
}
.heading{
    width:100%;
    margin-top: 0px;
}
.heading_div{
    float:none;
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 15px;
}
canvas{
    margin-top:140px;
    border:5px solid white;
}